<div class="sidebar @StateCssClass">
	<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
		<Nodes>
			<DxTreeViewNode NavigateUrl="/FA" Text="FA API Live"></DxTreeViewNode>
			<DxTreeViewNode NavigateUrl="/PLCDashboard" Text="PLC Dashboard"></DxTreeViewNode>
			<DxTreeViewNode NavigateUrl="/PLCPage" Text="PLC"></DxTreeViewNode>
			<DxTreeViewNode NavigateUrl="/MXProtocol" Text="MX Test"></DxTreeViewNode>
			<DxTreeViewNode NavigateUrl="/Swagger" Text="Swagger"></DxTreeViewNode>
			<DxTreeViewNode NavigateUrl="/Config" Text="Configuration"></DxTreeViewNode>
		</Nodes>
	</DxTreeView>
</div>

@code {
	[Parameter] public string? StateCssClass { get; set; }
}