<div class="sidebar @StateCssClass">
	<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
		<Nodes>
			<DxTreeViewNode NavigateUrl="/MesTask" Text="MesTask"></DxTreeViewNode>
			@*<DxTreeViewNode NavigateUrl="/SchedulingTask" Text="Scheduling Tasks"></DxTreeViewNode>*@
			<DxTreeViewNode NavigateUrl="/FA" Text="AMR Status"></DxTreeViewNode>
			<DxTreeViewNode NavigateUrl="/PLCDashboard" Text="PLC Dashboard"></DxTreeViewNode>
			<DxTreeViewNode NavigateUrl="/History" Text="History Data"></DxTreeViewNode>
			<DxTreeViewNode NavigateUrl="/Swagger" Text="API Testing"></DxTreeViewNode>
			<DxTreeViewNode NavigateUrl="/Config" Text="Configuration"></DxTreeViewNode>
		</Nodes>
	</DxTreeView>
</div>

@code {
	[Parameter] public string? StateCssClass { get; set; }
}